extensions:
    archette.currency: Archette\Currency\CurrencyExtension

services:
    currencyFacade:
        class: Rixafy\Currency\CurrencyFacade

    currencyRepository:
        class: Rixafy\Currency\CurrencyRepository

    currencyFactory:
        class: Rixafy\Currency\CurrencyFactory

    currencyUpdateCommand:
        class: Rixafy\Currency\Command\CurrencyUpdateCommand

# Example configuration, copy this section to your config.neon
archette.currency:
    fixerIoApiKey: undefined
    baseCurrency: EUR
