extensions:
    archette.currency: Archette\Currency\CurrencyExtension

services:
    currencyConfig:
        class: Rixafy\Currency\CurrencyConfig

    currencyFacade:
        class: Rixafy\Currency\CurrencyFacade

    currencyRepository:
        class: Rixafy\Currency\CurrencyRepository

    currencyFactory:
        class: Rixafy\Currency\CurrencyFactory

    currencyUpdateCommand:
        class: Rixafy\Currency\Command\CurrencyUpdateCommand